
.firstnav {
    position: absolute;
    z-index: 1000;
    width: 100%;
    right: 0px;
}

.choose-type{
    text-align: center;
}
.choose-type div a{
    padding: 0%;
    margin: 1.5%;
    text-align: center;
    border: 1px solid orange;
    border-radius: 7px;
}

.menu-box-containers {
    padding: 0%;
}

.appear-on-dropdown{
    opacity: 0;
}

.firstnav div p{
    margin: 1%;
}

.list-group-item{
    border-top: 0px solid rebeccapurple;
    /* color: red; */
}

@media only screen and (max-width: 320px) {
    .nav-link{
        font-size: 80%;
    }
  }
@media only screen and (max-width: 280px) {
    .nav-link{
        font-size: 70%;
    }
  }
@media only screen and (max-width: 260px) {
    .nav-link{
        font-size: 60%;
    }
  }

.type-in-title {
    font-size: small;
    font-style: italic;
}

.navbarbuttons{
    display: inline-block;
}

#hint_id_username{
    display: none;
}

.songlist-element{
    display: inline;
}

@media only screen and (max-width: 240px) {
    .navbar-brand{
        font-size: 14px;
    }
  }

.audio-controls{
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.boton{
    margin-bottom: 7px;
    /* padding: 5px; */
    /* background-color: transparent; */
    font-size: 0.8rem;
}

.navbar-toggler{
    border: none;
}

/* #square-container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#square{
    width: 30px;
    height: 30px;
    background-color: violet;
}

.svg-attributes svg{
    color: red;
    background-color: blue;
} */

.pratik{
    width:2rem;
    float: right;
}

.popper{
    position: absolute;
    width:3rem;
    right: 10px;   
    display: none;
}

.stars{
    width:0.5rem;
    right: 30px;   
    top:20px;
}

.baba{
    top: 20px;
}

.uploadBtn{
    position: fixed;
    z-index: 1000;
    bottom: 0%;
    left: 10px;
}

#alerto{
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    padding-bottom: 0px;
    display: none;
    opacity: 0;
}