{% extends 'base.html' %}

{% block bodyblock %}
    {% load crispy_forms_tags %}


<form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ create_song_form|crispy }}
    <input class="btn btn-primary" type="submit" name="create_song_form" value="Create Song">
</form>
    

    
    {% for chord in allChords  %}
        
            <button class="btn"><a href="{% url 'add-chord-view' %}">{{ chord.acronym }}</a></button>

    {% endfor %}
        
    
{% endblock bodyblock %}