{% with user.profile.liked_songs.all as favorite_songs %}
    {% if songlistlikes %}
        {% for song in songlist %}
            {% if song in favorite_songs %}
                {% include "listitem.html" %}
            {% endif %}
        {% endfor %}
    {% else %}
    <div class="jumbotron">
        <p>No favorite {{ typeintitle }} yet 🤔</p>
        <hr class="my-4">
        <p>Check "Feed" and "All" tabs to add {{ typeintitle }} to your favorites</p>
    </div>
    {% endif %}
{% endwith %}