{% extends "base.html" %}


{% block bodyblock %}
{% load crispy_forms_tags %}
<div class="jumbotron">
    {% if registered %}
    <h1>You are already registered :)</h1>
    {% else %}

    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {# {{ user_form }} #}
      {{ user_form|crispy }}
      
      {% comment %}
      <p><label for="username">Email:</label>
      <input type="text" name="username" placeholder="email"></p>
      <p><label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password"></p>
      {% endcomment %}
      
      {{ profile_form|crispy}}
      <input class="btn btn-primary" type="submit" name="" value="Register">
    </form>

    {% endif %}
</div>
{% endblock bodyblock %}

  {# tutorial from https://medium.com/@himanshuxd/how-to-create-registration-login-webapp-with-django-2-0-fd33dc7a6c67 #}