<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kiirtan-Kevalam</title>
    <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/custom.css' %}">
</head>
<body>
    <nav class="firstnav navbar navbar-expand-xs navbar-dark bg-success">
        <a class="navbar-brand" href="/">Kiirtan Kevalam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li><p class="text-light">Hello {{ user.profile.sanskrit_name }}!</p></li>
                {% endif %}
                <li><p class="text-light">Choose song type:</p></li>
                <li class="nav-item">
                    <div class="menu-box-containers container">
                        <div class="row no-gutters choose-type">
                            <div class="col">
                                <a class="nav-link" href="/kiirtanfeed/">Kiirtan<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="col">
                                <a class="nav-link" href="/psfeed/">P.S.<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="col">
                                <a class="nav-link" href="/bhajanfeed/">Bhajan<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-animator" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Upload New Song
                        </a>
                        <div class="dropdown-menu appear-on-dropdown" aria-labelledby="navbarDropdown">
                            <a class="drpdwn-item dropdown-item" href="#">Record Song</a>
                            <a class="drpdwn-item dropdown-item" href="/createsong/">Upload from file</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">Profile</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                            <a href="/accounts/login/" class="nav-link navbarbuttons"><button class="btn">Login</button></a>
                            <a href="/signup/" class="nav-link navbarbuttons"><button class="btn">Signup</button></a>
                    </li>
                {% endif %} 
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search user or song" aria-label="Search">
            <button class="btn btn-outline-primary text-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- This next nav-bar remains behind the "real" nav-bar to push down the following html divs. The real nav-bar doesn't push them down as it is set to display: absolute; so it doesn't push divs when menu expands -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
    </nav>

    {% if user.is_authenticated %}
    {% else %}
        <div id="alerto" class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>Login to add to your favorites!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% block overtabs %}
    {% endblock overtabs %}

    {% block undertabs %}
    {% endblock undertabs %}

    {% block youarenotloggedin %}
    {% endblock youarenotloggedin %}

    {% block renderkiirtans %}
    {% endblock renderkiirtans %}

    {% block bodyblock %} 
    {% endblock bodyblock %}

    </div>
        
<script src="{% static 'vendors/js/jquery-3.4.0.min.js' %}"></script>
<script src="{% static 'vendors/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/js/anime.min.js' %}"></script>
<script src="{% static 'resources/js/index.js' %}"></script>

<script>
var alerto = $('#alerto')
$(document).on('click', '.favBtn', function(event){
    
    console.log('hey there:')
    alerto.show()
    anime({
        targets: '#alerto',
        opacity: 1,
    })
    var btn = $(this).find(':first-child');
    var src = btn.attr('src'); 
    var newsrc
    if (src=='/static/resources/img/pratik-selected.png'){
        newsrc = '/static/resources/img/pratik.png'
    } else {
        newsrc = '/static/resources/img/pratik-selected.png'
        $(this).find(':nth-child(2)').toggleClass('star')
        $(this).find(':nth-child(2)').toggleClass('poppe')
        $(this).find(':nth-child(3)').toggleClass('bab')
        $(this).find(':nth-child(3)').toggleClass('poppe')

        $(this).find(':nth-child(2)').show()
        $(this).find(':nth-child(3)').show()

        anime({
            targets: '.star',
            scale: 11,
            opacity:1,
          });
        anime({
            targets: '.bab',
            opacity: 1,
          });
        setTimeout(() => {
            anime({
                targets: '.poppe',
                opacity: 0,
                duration: 5000,
            });
        }, 500);
          setTimeout(() => {
            $(this).find(':nth-child(2)').hide()
            $(this).find(':nth-child(3)').hide()
            anime({
                targets: '.star',
                scale: 1,
              });
            $(this).find(':nth-child(2)').toggleClass('star')
            $(this).find(':nth-child(2)').toggleClass('poppe')
            $(this).find(':nth-child(3)').toggleClass('bab')
            $(this).find(':nth-child(3)').toggleClass('poppe')
        }, 1000);

    }

    btn.attr('src', newsrc );

    event.preventDefault();
    var pk = $(this).data('pid')
    console.log('pk:', pk)
    $.ajax({
        type: 'GET',
        cache: false,
        url: "{% url 'toggle-favorite-song-view' %}",
        data: {'theId':pk},
        success: function(response){
            console.log('Hello, ajax successful')
            //$('#btn-section').html(response['form'])
            console.log($('#btn-section').html(response['form']))
        },
        error: function(rs,e){
            console.log('noNOHelooNoNo')
            console.log(rs.responseText)
        }
    })
})
</script>

<script>
//let overtab = $(".overtab")

//overtab.on('click', function(event){
$(document).on('click', '.overtab', function(event){

    event.preventDefault();
    var overtabdata = $(this).data('songtype')
    console.log('overtabdata:', overtabdata)
    $.ajax({
        type: 'GET',
        //Trigger a view (which is pretty much a function)
        url: "{% url 'overtab-view' %}",
        //Fill in that function's variable (songType) with our html payload (songType)
        data: {'songType':overtabdata},
        success: function(response){
            console.log('Hello, ajax successful')
            var responseAsJSON = JSON.parse(response['form'])
            $('#overtabs-div').html(responseAsJSON['overtabshtml'])
            $('#undertabs-div').html(responseAsJSON['undertabshtml'])
            $('#songrenderer-div').html(responseAsJSON['songrendererhtml'])
            //console.log($('#overtabs-div').html(response['form']))
        },
        error: function(rs,e){
            console.log('noNOHelooNoNo')
            console.log(rs.responseText)
        }
    })
})
</script>
<script>
//let undertab = $(".undertab")
$(document).on('click', '.undertab', function(event){

    event.preventDefault();
    var undertabdata = $(this).data('listtype')
    console.log('undertabdata:', undertabdata)
    $.ajax({
        type: 'GET',
        url: "{% url 'undertab-view' %}",
        data: {'listType':undertabdata},
        success: function(response){
            console.log('Hello, ajax successful')
            var responseAsJSON = JSON.parse(response['form'])
            $('#undertabs-div').html(responseAsJSON['undertabshtml'])
            $('#songrenderer-div').html(responseAsJSON['songrendererhtml'])
        },
        error: function(rs,e){
            console.log('noNOHelooNoNo')
            console.log(rs.responseText)
        }
    })
})
</script>
</body>
</html>