<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kiirtan-Kevalam</title>
    <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/custom.css' %}">
</head>
<body>
    <nav class="firstnav navbar navbar-expand-xs navbar-dark bg-success">
        <a class="navbar-brand" href="/">Kiirtan Kevalam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li><p class="text-light">Hello {{ user.profile.sanskrit_name }}!</p></li>
                {% endif %}
                <li><p class="text-light">Choose song type:</p></li>
                <li class="nav-item">
                    <div class="menu-box-containers container">
                        <div class="row no-gutters choose-type">
                            <div class="col">
                                <a class="nav-link {{ kiirtanactive }} overtab clickBurgerMenu" href="#" data-songtype='ki'>Kiirtan<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="col">
                                <a class="nav-link {{ psactive }} overtab clickBurgerMenu" href="#" data-songtype='ps'>P.S.<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="col">
                                <a class="nav-link {{ bhajanactive }} overtab clickBurgerMenu" href="#" data-songtype='bh'>Bhajan<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-animator" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Upload New Song
                        </a>
                        <div class="dropdown-menu appear-on-dropdown" aria-labelledby="navbarDropdown">
                            <a class="drpdwn-item dropdown-item" href="#">Record Song</a>
                            <a class="drpdwn-item dropdown-item" href="/createsong/">Upload from file</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">Profile</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                            <a href="/accounts/login/" class="nav-link navbarbuttons"><button class="btn">Login</button></a>
                            <a href="/signup/" class="nav-link navbarbuttons"><button class="btn">Signup</button></a>
                    </li>
                {% endif %} 
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search user or song" aria-label="Search">
            <button class="btn btn-outline-primary text-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- This next nav-bar remains behind the "real" nav-bar to push down the following html divs. The real nav-bar doesn't push them down as it is set to display: absolute; so it doesn't push divs when menu expands -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
    </nav>

    {% if user.is_authenticated %}
    {% else %}
        <div id="alerto" class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>Login to add to your favorites!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% block overtabs %}
    {% endblock overtabs %}

    {% block undertabs %}
    {% endblock undertabs %}

    {% block youarenotloggedin %}
    {% endblock youarenotloggedin %}

    {% block renderkiirtans %}
    {% endblock renderkiirtans %}

    {% block bodyblock %} 
    {% endblock bodyblock %}

    {% include "uploadbutton.html" %}

    </div>
        
<script src="{% static 'vendors/js/jquery-3.4.0.min.js' %}"></script>
<script src="{% static 'vendors/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/js/anime.min.js' %}"></script>
<script src="{% static 'resources/js/index.js' %}"></script>
{% include 'Ajax/togglefavorite.html' %}
{% include 'Ajax/overtabs.html' %}
{% include 'Ajax/undertabs.html' %}

</body>
</html>