{% extends 'bhajanfav.html' %}

{% block bhajantabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/bhajanfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bhajanfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bhajanall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/bhajanuploads/">Uploads</a>
    </li>
  </ul>
{% endblock bhajantabs %}

{% block youarenotloggedin %}
{% if user.is_authenticated %}
{% else %}
  {% include 'loginbutton.html' with songtype='uploads'%}
{% endif %}
{% endblock youarenotloggedin %}

{% block renderbhajans %}
  {% if userUploads %}
    {% include 'renderer.html' with songlist=userUploads%}
  {% else %}
    {% include "nouploads.html" %}
  {% endif %}
{% endblock renderbhajans %}