{% load static %}
<form action="{% url 'add-remove-song-view' %}" method="POST">
    {% csrf_token %}
    {% if song in user.profile.liked_songs.all %}
        <button class="btn favBtn" type="submit" name="song_pk" value="{{ song.pk }}">
            <img class="" src="{% static 'resources/img/pratik-selected.png' %}" alt="">
        </button>
    {% else %}
    <button class="btn favBtn" type="submit" name="song_pk" value="{{ song.pk }}">
        <img class="" src="{% static 'resources/img/pratik.png' %}" alt="">
    </button>
    {% endif %}
</form>