{% extends "kiirtanfav.html" %}

{% block kiirtantabs %}
{% include "overtabs.html" %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/kiirtanall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanuploads/">Uploads</a>
    </li>
  </ul>
  {% include "uploadbutton.html" %}
{% endblock kiirtantabs %}

{% block youarenotloggedin %}
{% endblock youarenotloggedin %}

{% block renderkiirtans %}
  {% include 'renderer.html' with songlist=allKiirtan%}
{% endblock renderkiirtans %}