{% extends "base.html" %}

{% block kiirtantabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/kiirtanfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanuploads/">Uploads</a>
    </li>
  </ul>
{% endblock kiirtantabs %}

{% block youarenotloggedin %}
  {% if user.is_authenticated %}
  {% else %}
    {% include 'loginbutton.html'  with songtype='favorites'%}
  {% endif %}  
{% endblock youarenotloggedin %}

{% block bodyblock %} 
  {% block renderkiirtans %}
    {% if user.is_authenticated %}
      {% include 'favrenderer.html' with songlist=allKiirtan  songlistlikes=kiirtanLikes %}
    {% endif %}
  {% endblock renderkiirtans %}
{% endblock bodyblock %}
