{% extends "kiirtanfav.html" %}

{% block kiirtantabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kiirtanall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/kiirtanuploads/">Uploads</a>
    </li>
  </ul>
{% endblock kiirtantabs %}

{% block youarenotloggedin %}
{% if user.is_authenticated %}
{% else %}
  {% include 'loginbutton.html' with songtype='uploads'%}
{% endif %}  
{% endblock youarenotloggedin %}

{% block renderkiirtans %}
  {% if userUploads %}
    {% include 'renderer.html' with songlist=userUploads%}
  {% else %}
    {% include "nouploads.html" %}
  {% endif %}
{% endblock renderkiirtans %}