<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'resources/css/style.css' %}">
    <title>Lalita-Marmika</title>
    <!-- <style>
        #bg {
            position: absolute;
            z-index: -1000;
            width: 100vw;
            height: 300%;
            background-image: url("{% static 'resources/img/universe.png' %}");
        }
    </style> -->
</head>
<body>
    <!-- <div id="bg"></div> -->
    <div id="bg" style="background-image:url( {% static 'resources/img/universe.jpg' %} );"></div>
    <div id="message-and-payment">
        <div id="message">
            <p>Namaskar! I am collecting funds to buy <a href="https://studiorenaissance.org/product/lalit-marmik-voice-of-the-inner-spirit/">this</a> lalita marmika sculpture for <a href="https://www.facebook.com/AnandaGaorii/">Ananda Gaorii</a>. The artist is <a href="https://studiorenaissance.org/">Divyendu Anand</a>, a margii based in Delhi. If you want to be part of this project you can donate here. Thanks, <a href="https://www.facebook.com/aryunadev">Arjuna</a> and <a href="https://www.facebook.com/AnandaGaorii/photos/a.593945204058669/2074069479379560/?type=3&theater">Bhubanesh.</a></p>
        </div>

        <div id="payment">
            <div id="bar-container">
                <div id="bar"></div>
            </div>
            <div id="under-the-bar">
                <div id="bar-text">
                    <p id="collected">150€</p>
                    <p id="total-amount">Out of 800€ needed</p>
                </div>
                <div id="donate-button">
                    <div id="donate-square">
                        
                        <p id="donate-text"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QMM6MK25JBJHA&source=url">Donate</a></p>
                    </div>
                    <div id="payment-types">
                        <img src="{% static 'resources/img/paying-logos.png' %}" style="width:100%; margin-top:5px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sculpture-container">
            
        <img id="lalita-img" src="{% static 'resources/img/lalita-s.png' %}" alt="">
    </div>

    <script src="js-libraries/scene.js"></script>
    <script src="js-libraries/moveable.min.js"></script>
    <script src="js-libraries/mprogress.min.js"></script>
    <script src="index.js"></script>
</body>
</html>