{% load static %}
<div class="songlist-element">
    <li class="list-group-item">
        <h5 class="card-title">
            {% comment %}
            <a href="{% url 'song-view' songid=song.pk %}">{{ song.title }}</a> 
            <div id="btn-section"> 
                {% include "button.html" %}
            </div>
            {% endcomment %}
            {% if song in user.profile.liked_songs.all %}
                <div class='btnContainer'>
                    <a href="{% url 'song-view' songid=song.pk %}">{{ song.title }}</a>
                    <a class="favBtn" href="#" data-pid="{{ song.pk }}">
                        <img class="pratik" src="{% static 'resources/img/pratik-selected.png' %}" alt="">
                        <img class="stars popper" src="{% static 'resources/img/stars.png' %}" alt="">
                        <img class="baba popper" src="{% static 'resources/img/baba.png' %}" alt="">
                    </a>
                </div>
            {% else %}
                <div class='btnContainer'>
                    <a href="{% url 'song-view' songid=song.pk %}">{{ song.title }}</a>
                    <a class="favBtn" href="#" data-pid="{{ song.pk }}">
                        <img class="pratik" src="{% static 'resources/img/pratik.png' %}" alt="">
                        <img class="stars popper" src="{% static 'resources/img/stars.png' %}" alt="">
                        <img class="baba popper" src="{% static 'resources/img/baba.png' %}" alt="">   
                    </a>
                </div>
            {% endif %}
        </h5>
        <h6 class="card-subtitle mt-10 text-muted">
            Shared by {% firstof song.uploader.sanskrit_name song.uploader.name "a margii"%} from {{ song.uploader.country }}
        </h6>
    </li>
</div>