{% load static %}
<div class="songlist-element">
    <li class="list-group-item">
        <h5 class="card-title"> <a href="{% url 'song-view' songid=song.pk %}">{{ song.title }}</a> 

        
        <div id="btn-section"> 
            {% include "button.html" %}
        </div>

        {% comment %}
        
            {% if song in user.profile.liked_songs.all %}
                <a href="{% url 'remove-song-view' id=song.pk %}">
                    <img class="pratik" src="{% static 'resources/img/pratik-selected.png' %}" alt="">
                </a>
            {% else %}
                <a href="{% url 'add-song-view' id=song.pk %}">
                    <img class="pratik" src="{% static 'resources/img/pratik.png' %}" alt="">
                </a>
            {% endif %}
            {% endcomment %}
        </h5>
        <h6 class="card-subtitle mt-10 text-muted">Shared by
            {% firstof song.uploader.sanskrit_name song.uploader.name "a margii"%} from {{ song.uploader.country }}</h6>
    </li>
</div>