{% extends "base.html" %}

{% block pstabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/psfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psuploads/">Uploads</a>
    </li>
  </ul>
{% endblock pstabs %}

{% block youarenotloggedin %}
  {% if user.is_authenticated %}
  {% else %}
    {% include 'loginbutton.html' with songtype='Favorite Prabhat Samgiita'%}
  {% endif %}  
{% endblock youarenotloggedin %}

{% block bodyblock %} 
  {% block renderps %}
    {% if user.is_authenticated %}
      {% include 'favrenderer.html' with songlist=allPs  songlistlikes=psLikes%} 
    {% endif %}
  {% endblock renderps %}
{% endblock bodyblock %}