{% extends "psfav.html" %}

{% block pstabs %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/psfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/psfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psuploads/">Uploads</a>
    </li>
  </ul>
{% endblock pstabs %}

{% block youarenotloggedin %}
{% endblock youarenotloggedin %}

{% block renderps %}
    {% include 'renderer.html' with songlist=allPs%}
{% endblock renderps %}
    