{% extends "psfav.html" %}

{% block pstabs %}
{% include "overtabs.html" %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/psfav/">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psfeed/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/psall/">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/psuploads/">Uploads</a>
    </li>
  </ul>
  {% include "uploadbutton.html" %}
{% endblock pstabs %}

{% block youarenotloggedin %}
{% if user.is_authenticated %}
{% else %}
  {% include 'loginbutton.html' with songtype='uploads'%}
{% endif %}  
{% endblock youarenotloggedin %}

{% block renderps %}
  {% if userUploads %}
    {% include 'renderer.html' with songlist=userUploads%}
  {% else %}
    {% include "nouploads.html" %}
  {% endif %}
{% endblock renderps %}
    