*, *:before, *:after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
    color: rgb(20, 20, 20);
  }
  
  a {
    text-decoration: underline;
    color: rgb(22, 19, 202);
  }