{% extends "base.html" %}

{% block bodyblock %}

    <div class="card">
        <h5 class="card-header">Add Some Chords to Your Song</h5>
        <div class="card-body">
                {% for chord in allChords  %}
                    {% if chord.acronym != "x"%}
                        <button class="boton btn btn-light border-dark"><a href="{% url 'add-chord-view' idChord=chord.pk %}">{{ chord.acronym }}</a></button>
                    {% else %}
                        <br>
                        <button class="btn btn-primary"><a class="text-dark" href="{% url 'add-chord-view' idChord=chord.pk %}">next kiirtan line</a></button>
                    {% endif %}
                {% endfor %}
                {% if songChords %}
                    <a class="text-muted font-italic" href="{% url 'delete-chord-view' %}">undo</a>
                {% else %}
                    <button class="btn"><a href="#">undo</a></button>
              {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ song.title }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Shared by {{ song.uploader }}</h6>
            {% with songChords as songChordIndex %}
                {% include "chordrenderer.html" %}
            {% endwith %}
            <button class="btn btn-primary float-right"><a class="text-dark" href="/">Fnish</a></button>
        </div>
    </div>

{% endblock bodyblock %}